* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: black;
  font-family: "fantasy";
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

label.Mui-focused {
  color: black;
}

.MuiInput-underline:after {
  border-bottom: black;
}

.MuiModal-root {
  padding-right: 0 !important;
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  filter: blur(8px) !important;
  -webkit-filter: blur(8px) !important;
}

.__className_e66fe9 {
  padding-right: 0 !important
}

.css-5fgqsk-MuiButtonBase-root-MuiButton-root:hover {
  background-color: none;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}